.table {
    width: fit-content;
}

.tableInline {
    display: inline-block;
}

.table th, .table td {
    padding: var(--space-1);
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: var(--space-2);
    height: unset;
    text-align: center;
}